# Backend
DATABASE_URL="file:./dev.db"
# For Postgres: DATABASE_URL="postgresql://user:pass@localhost:5432/restaurantos?schema=public"
JWT_SECRET="change-me-to-a-long-random-string-min-32-chars"
JWT_EXPIRES_IN="7d"
PORT=4000
FRONTEND_URL="http://localhost:3000"
PAYMENT_WEBHOOK_SECRET="whsec_test_secret"

# Frontend
NEXT_PUBLIC_API_URL="http://localhost:4000/api"
NEXT_PUBLIC_WS_URL="http://localhost:4000"
